<div class="d-flex flex-column align-items-center justify-content-center home-wrapper mb-5">
  <h1 class="oasis-header text-center">Welcome to ACNH The Oasis guiding website</h1>
  <p class="text-center">You made it, let's get started!</p>
</div>


<div class="container px-3 px-md-5 pb-5 d-flex flex-column-reverse flex-md-column">
  <div>
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 mb-5">
        <%= link_to category_path(Category.all.first), class: "link" do %>
          <div class="card-oasis border-brown shadow-sm" style="background-image: url(<%= image_path "nookling-bg.png", alt: "nookling-img" %>);">
            <div class="d-flex align-items-center bg-white p-2 px-3 shadow">
              <div class="title d-flex align-items-center">Channel guides</div>
              <i class="fas fa-map-signs brown-icon ml-3"></i>
            </div>

          </div>
        <% end %>
        <p class="mt-3">How and what channels to use</p>
      </div>

      <div class="col-sm-12 col-md-4 mb-5">
        <%= link_to tips_path, class: "link" do %>
          <div class="card-oasis border-green shadow-sm" style="background-image: url(<%= image_path "tom-bg.png", alt: "tom-nook-img" %>);">
            <div class="d-flex align-items-center bg-white p-2 px-3 shadow">
              <div class="title">Good to know</div>
              <i class="far fa-life-ring green-icon ml-3"></i>
            </div>

          </div>
        <% end %>
        <p class="mt-3">Things to know before you get started</p>
      </div>

      <div class="col-sm-12 col-md-4 mb-5">
        <%= link_to bot_path(Bot.all.order("name").first), class: "link" do %>
            <div class="card-oasis border-blue shadow-sm" style="background-image: url(<%= image_path "redd-bg.png", alt: "redd-img" %>);">
              <div class="d-flex align-items-center bg-white p-2 px-3 shadow">
                <div class="title">Bot guides</div>
                <i class="fas fa-code-branch blue-icon ml-3"></i>
              </div>
            </div>
        <% end %>
        <p class="mt-3">How and where to use the different bots</p>
      </div>

    </div>
  </div>

  <div>
    <h1 class="oasis-header text-center">Event calendar</h1>
     <p class="text-center mb-5">Stay updated with in-game and server events that's happening now and the next 30 days.</p>
    <div class="row justify-content-around mb-5">
      <div class="col-12 col-md-6 d-flex align-items-center flex-column mb-3 mb-md-0">
        <div class="font-weight-bold bot-sub-title mb-3">Happening now ⏱</div>
        <div class="event-cards w-100">
          <% if @current_events.empty? %>
            <div>
              <div class="event-notice my-5">There's no events happening right now!</div>
            </div>
          <% else %>
            <% @current_events.each do |ac_event| %>
              <div class="event-card active d-flex align-items-center p-3 shadow-sm mb-3">
                <%= image_tag ac_event.event_icon, alt: "event-icon", height: 30 %>
                <div class="ml-3 w-100">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold mr-2"><%= ac_event.title %></div>
                    <div class="date">ends <%= ac_event.to_date.strftime("%A, %b %d") %></div>
                  </div>
                  <div class="season">Hemisphere: <span class="font-weight-bold"><%= ac_event.season %></span></div>
                  <div class="description"><%= ac_event.description %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex align-items-center flex-column">
        <div class="font-weight-bold bot-sub-title mb-3">Upcoming events 🗓</div>
        <div class="event-cards w-100">
          <% if @upcoming_events.empty? %>
            <div>
              <div class="event-notice my-5">There's no events coming up the next 30 days!</div>
            </div>
          <% else %>
            <% @upcoming_events.each do |ac_event| %>
              <div class="event-card d-flex align-items-center p-3 bg-white shadow-sm mb-3">
                <%= image_tag ac_event.event_icon, alt: "event-icon", height: 30 %>
                <div class="ml-3 w-100">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold mr-2"><%= ac_event.title %></div>
                    <div class="date">starts <%= ac_event.from_date.strftime("%A, %b %d") %></div>
                  </div>
                  <div class="season">Hemisphere: <span class="font-weight-bold"><%= ac_event.season %></span></div>
                  <div class="description"><%= ac_event.description %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

