<div class="container home-wrapper pb-5">
  <div class="d-flex flex-column align-items-center justify-content-center mb-5">
    <h1 class="oasis-header text-center">Learn how to use our bots</h1>
    <p>Learning to use our server bots isn't hard at all and it will make your life easier and more safe!</p>
  </div>

  <h3 class="text-center mb-3">The Oasis bots</h3>
  <div class="row">
    <% @bots.each do |bot| %>
      <div class="col-6 col-md-3 mb-2">
        <%= link_to bot_path(bot) do %>
          <div class="pill-category bg-white p-2 px-3 mx-2 shadow-sm d-flex align-items-center justify-content-between">
            <div class="title"><%= bot.name %></div>
            <%= image_tag bot.avatar, alt: "alttext", height: 30 %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="card-category my-5">
    <h3 class="font-weight-bold"><%= @bot.name %> <span class="ml-2"><%= image_tag @bot.avatar, alt: "alttext", height: 50 %></span></h3>
    <%= @bot.intro %>
  </div>


  <div class="card-channel mb-3 bg-white p-4 shadow-sm">
    <div class="d-flex align-items-center mb-3">
      <div class="bot-title mr-4 mb-3">Where to use <%= @bot.name %>:</div>
      <div class="row">
        <% @bot.channels.each do |channel| %>
          <div class="col">
            <%= link_to category_path(channel.category) do %>
              <div class="d-flex align-items-center bot-info px-3 shadow-sm py-1 mb-3">
                <i class="fas fa-circle"></i>
                <div class="mx-2"><%= channel.name %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    <h3 class="font-weight-bold text-center my-5">How to use <%= @bot.name %></h3>
    <div class="mx-2 mx-md-5 mb-5">

     <% if @bot.name == "Pascal" %>
      <div class="font-weight-bold">Instructions</div>
      <div class="mb-5">
        <div><%= @bot.name %> is really easy to use, just follow the template instructions below and you're good to go! Happy thanking 💚</div>
      </div>
    <% elsif @bot.name == "Tom Nook" %>
      <div class="font-weight-bold">Instructions</div>
      <div class="mb-5">
        <%= @bot.host.html_safe %>
      </div>
    <% elsif @bot.host.present? %>
      <div class="font-weight-bold">How to host</div>
      <div class="mb-5">
        <%= @bot.host.html_safe %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12 col-md-5">
        <div class="font-weight-bold ml-0 ml-md-5 mb-3">Template</div>
        <div class="bot-template bot-example ml-0 ml-md-5 mb-5 p-5">
          <%= @bot.template.html_safe %>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="font-weight-bold ml-0 ml-md-5 mb-3">Example</div>
        <div class="bot-example ml-0 ml-md-5 mb-5 p-5">
          <%= @bot.example.html_safe %>
        </div>
      </div>
    </div>

    <% if @bot.name == "Moistmaker" %>
      <div class="font-weight-bold">How to help water</div>
      <%= @bot.queue.html_safe %>
    <% elsif @bot.queue.present? %>
      <div class="font-weight-bold">How to queue</div>
      <%= @bot.queue.html_safe %>
    <% end %>

    <% if @bot.commands.present? %>
      <div class="font-weight-bold mt-5">Other useful commands</div>
      <%= @bot.commands.html_safe %>
    <% end %>
   </div>

  </div>


</div>
