<div class="container home-wrapper pb-5">
  <div class="d-flex flex-column align-items-center justify-content-center mb-5">
    <h1 class="oasis-header text-center">Browse through all channels here</h1>
    <p>Tips, tricks, which bots to use and much more</p>
  </div>

  <h3 class="text-center mb-3">Channel categories</h3>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-6 col-md-3 mb-2">
        <%= link_to category_path(category) do %>
          <div class="pill-category bg-white p-2 px-3 mx-2 shadow-sm d-flex align-items-center justify-content-between">
            <div class="title"><%= category.name %></div>
            <div><%= category.icon %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <% if @category.name == "All Channels" %>
    <div class="d-flex align-items-center justify-content-between">
      <div class="card-category my-5">
        <h3 class="font-weight-bold"><%= @category.name %> <span class="ml-2"><%= @category.icon %></span></h3>
        <div><%= @category.description %></div>
      </div>
    </div>

    <div id="channels-list">
      <!-- working searchbar -->
      <div class="d-flex justify-content-center mb-5">
        <input class="search p-3 w-50" placeholder="Find the channel you're looking for">
      </div>
      <ul class="list-unstyled list">
        <% @channels.each do |channel| %>
          <li>
            <div class="card-channel mb-3 bg-white p-4 shadow-sm">
              <div class="d-flex align-items-center mb-3">
                <div class="font-weight-bold channel-name"><%= channel.name %></div>
                <% channel.bots.each do |bot| %>
                  <%= link_to "#" do  %>
                    <div class="d-flex align-items-center bot-info ml-5 px-3 shadow-sm py-1">
                      <i class="fas fa-circle"></i>
                      <div class="mx-2"><%= bot.name %></div>
                      <%= image_tag bot.avatar, alt: "alttext", height: 25 %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="channel-description"><%= channel.description.html_safe %></div>
            </div>
          </li>
        <% end %>
  <% else %>
    <div class="card-category my-5">
      <h3 class="font-weight-bold"><%= @category.name %> <span class="ml-2"><%= @category.icon %></span></h3>
      <div><%= @category.description %></div>
    </div>

    <% @category.channels.each do |channel| %>
        <div class="card-channel mb-3 bg-white p-4 shadow-sm">
          <div class="d-flex align-items-center mb-3">
            <div class="font-weight-bold channel-name"><%= channel.name %></div>
            <% channel.bots.each do |bot| %>
              <%= link_to "#" do  %>
                <div class="d-flex align-items-center bot-info ml-5 px-3 shadow-sm py-1">
                  <i class="fas fa-circle"></i>
                  <div class="mx-2"><%= bot.name %></div>
                  <%= image_tag bot.avatar, alt: "alttext", height: 25 %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="channel-description"><%= channel.description.html_safe %></div>
        </div>
    <% end %>
  </ul>
  </div> <!-- closing #channels-list -->
  <% end %>
</div> <!-- closing container -->

<div id="hacker-list">
    <ul class="list"></ul>
</div>

<%= javascript_pack_tag "channel-search" %>
